<div class="pr-3 pb-3" style="padding-left: 20px">
  <div class="row">
    <div class="pl-3">
      <div class="custom-control custom-checkbox checkbox-lg">
        <input
          type="checkbox"
          class="custom-control-input"
          id="a"
          (click)="selectAll()"
        />
        <label class="custom-control-label pl-2" for="a"> </label>
      </div>
    </div>
    <ng-container *ngIf="checks">
      <div class="pl-2">
        <span class="badge badge-secondary">Delete All</span>
      </div>
    </ng-container>
    <ng-container *ngIf="!checks">
      <div class="col-md-1">
        <div class="icon icon-green" (click)="reload()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-arrow-clockwise"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"
            />
            <path
              d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"
            />
          </svg>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<ng-container *ngFor="let item of completedMessage; let i = index">
  <div
    class="msg-item"
    (mouseover)="showAction(item._id)"
    (mouseleave)="hideAction()"
    (dblclick)="msgItem(item._id)"
  >
    <div
      class="card border-right-0 border-top-0 card-bg"
      [ngClass]="{
        'border-top-1': i == 0,
        'border-top-0': i != 0,
        'red-border': item.feedbackLevel == 'High',
        'blue-border': item.feedbackLevel == 'Medium'
      }"
    >
      <div class="pr-3 pl-3 pt-2 pb-2">
        <div class="row d-flex justify-content-between">
          <div class="col-md-3">
            <div class="custom-control custom-checkbox checkbox-lg">
              <input
                type="checkbox"
                class="custom-control-input"
                id="{{ item._id }}"
                [checked]="checks"
                disabled
              />
              <label class="custom-control-label pl-2" for="{{ item._id }}">
                {{ item.reporter_id.username }}
              </label>
            </div>
          </div>
          <div class="col-md-7">
            <div class="b">
              {{ item.title }}
              -
              <span class="des">
                {{ item.message }}
              </span>
            </div>
          </div>
          <div class="col-md-2" *ngIf="messageID == item._id">
            <div class="row justify-content-end pr-3">
              <div class="pl-2">
                <div class="icon icon-red" (click)="deleteMessage(item._id)">
                  <span class="badge badge-secondary select-all">Delete</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 text-right" *ngIf="messageID != item._id">
            {{ item.completedDate | date }}
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
