<app-navbar></app-navbar>
<div class="container home mt-3">
  <div class="row">
    <div class="col-md-3">
      <div class="card border-0 cs-shadow">
        <div class="card-body">
          <h5 class="report">
            Report
          </h5>
          <p>
            You can report anything in this building
          </p>
          <div class="text-right pt-1">
            <a routerLink="/report-form">
              Send report
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border-0 cs-shadow">
        <div class="card-body">
          <h5 class="request">
            Request
          </h5>
          <p>
            You can report anything you want
          </p>
          <div class="text-right pt-1">
            <a routerLink="/request-form">
              Send request
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border-0 cs-shadow">
        <div class="card-body">
          <h5>
            View all floors
          </h5>
          <p>
            You can see all floors on this building
          </p>
          <div class="text-right pt-1">
            <a routerLink="/floor">
              View floors
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="card border-0 cs-shadow">
        <div class="card-body">
          <h5>
            View all departments
          </h5>
          <p class="short">
            You can see all departments on this building
          </p>
          <div class="text-right pt-1">
            <a routerLink="/department">
              View departments
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border-0 cs-shadow">
        <div class="card-body">
          <h5>
            View all rooms
          </h5>
          <p>
            You can see all rooms on this building
          </p>
          <div class="text-right pt-1">
            <a routerLink="/room">
              View rooms
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
