<div class="pr-3 pb-3" style="padding-left: 20px">
  <div class="row">
    <div class="pl-3">
      <div class="custom-control custom-checkbox checkbox-lg">
        <input
          type="checkbox"
          class="custom-control-input"
          id="a"
          (click)="selectAll()"
          [checked]="checks"
        />
        <label class="custom-control-label pl-2" for="a"> </label>
      </div>
    </div>
    <ng-container *ngIf="checks">
      <div class="pl-2">
        <span class="badge badge-secondary">Delete All</span>
      </div>
      <div class="pl-2">
        <span class="badge badge-danger">Reject All</span>
      </div>
      <div class="pl-2">
        <span class="badge badge-success">Approve All</span>
      </div>
    </ng-container>
    <ng-container *ngIf="!checks">
      <div class="col-md-1">
        <div class="icon icon-green" (click)="reload()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-arrow-clockwise"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"
            />
            <path
              d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"
            />
          </svg>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="nav-msg">
  <div class="card border-left-0 border-right-0">
    <div class="row">
      <div class="col-md-3 normal" (click)="showRequest()">
        <div class="p-3 card-bg" [ngClass]="request ? 'cs-border' : ''">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-envelope-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"
            />
          </svg>
          <span class="pl-3" (dblclick)="showRequest()">Request </span>
        </div>
      </div>
      <div class="col-md-3 primary" (click)="showReport()">
        <div class="p-3 card-bg" [ngClass]="report ? 'cs-border' : ''">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-envelope-exclamation-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207L16 4.697Z"
            />
            <path
              d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1.5a.5.5 0 0 1-1 0V11a.5.5 0 0 1 1 0Zm0 3a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"
            />
          </svg>

          <span class="pl-3">Report </span>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="request">
  <ng-container *ngFor="let item of requestMessage">
    <div
      class="msg-item"
      (mouseover)="showAction(item._id)"
      (mouseleave)="hideAction()"
      (dblclick)="msgItem(item._id)"
    >
      <div
        class="card border-right-0 border-top-0"
        [ngClass]="{
          'red-border': item.feedbackLevel == 'High',
          'blue-border': item.feedbackLevel == 'Medium',
          'card-bg': item.isOpen
        }"
      >
        <div class="pr-3 pl-3 pt-2 pb-2">
          <div class="row justify-content-around">
            <div class="col-md-3">
              <div class="custom-control custom-checkbox checkbox-lg">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="{{ item._id }}"
                  [checked]="checks"
                  disabled
                />
                <label class="custom-control-label pl-2" for="{{ item._id }}">
                  <strong>
                    <span [ngClass]="{ normal: item.isOpen }">
                      {{ item.reporter_id.username }}
                    </span>
                  </strong>
                </label>
              </div>
            </div>
            <div class="col-md-7">
              <div class="b">
                <strong>
                  <span [ngClass]="{ normal: item.isOpen }">
                    {{ item.title }}
                  </span>
                </strong>
                -
                <span class="des">
                  {{ item.message }}
                </span>
              </div>
            </div>
            <div class="col-md-2" *ngIf="messageID == item._id">
              <div class="row justify-content-end pr-3">
                <div class="pl-2">
                  <div (click)="deleteMessage(item._id)">
                    <span class="badge badge-secondary select-all">Delete</span>
                  </div>
                </div>
                <div class="pl-2">
                  <div (click)="deleteMessage(item._id)">
                    <span class="badge badge-danger select-all">Reject</span>
                  </div>
                </div>
                <div class="pl-2">
                  <div (click)="approvedMessage(item, item._id)">
                    <span class="badge badge-success select-all">Approve</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-right" *ngIf="messageID != item._id">
              <strong>
                <span [ngClass]="{ normal: item.isOpen }">
                  {{ item.createdDate | date }}
                </span>
              </strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="report">
  <ng-container *ngFor="let item of reportMessage">
    <div
      class="msg-item"
      (mouseover)="showAction(item._id)"
      (mouseleave)="hideAction()"
    >
      <div
        class="card border-right-0 border-top-0"
        [ngClass]="{
          'red-border': item.feedbackLevel == 'High',
          'blue-border': item.feedbackLevel == 'Medium',
          'card-bg': item.isOpen == true
        }"
      >
        <div class="pr-3 pl-3 pt-2 pb-2">
          <div class="row justify-content-around">
            <div class="col-md-2">
              <div class="custom-control custom-checkbox checkbox-lg">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="{{ item._id }}"
                  [checked]="checks"
                  disabled
                />
                <label class="custom-control-label pl-2" for="{{ item._id }}">
                  <strong>
                    <span [ngClass]="{ normal: item.isOpen }">
                      {{ item.reporter_id.username }}
                    </span>
                  </strong>
                </label>
              </div>
            </div>
            <div class="col-md-7">
              <div class="b">
                <strong>
                  <span [ngClass]="{ normal: item.isOpen }">
                    {{ item.title }}
                  </span>
                </strong>
                -
                <span class="des">
                  {{ item.message }}
                </span>
              </div>
            </div>
            <div class="col-md-3" *ngIf="messageID == item._id">
              <div class="row justify-content-end pr-3">
                <div class="col-md-3">
                  <div (click)="deleteMessage(item._id)">
                    <span class="badge badge-secondary select-all">Delete</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div (click)="deleteMessage(item._id)">
                    <span class="badge badge-danger select-all">Reject</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div (click)="approvedMessage(item, item._id)">
                    <span class="badge badge-success select-all">Approve</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 text-right" *ngIf="messageID != item._id">
              <strong>
                <span [ngClass]="{ normal: item.isOpen }">
                  {{ item.createdDate | date }}
                </span>
              </strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
